.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(120deg, #007BFF, #00aced);
  color: white;
  text-align: center;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero h1 span {
  color: yellow;
}

.hero p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  background: white;
  color: #007BFF;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn:hover {
  background: yellow;
  color: black;
}
